* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f6f6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  display: block;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  height: 80px;
  align-items: center;
  z-index: 2;
}
header .menu {
  align-items: center;
}
header .menu .logo:hover {
  cursor: pointer;
}
header .menu .menu--list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
header .menu .menu--list li {
  font-size: 14px;
  color: #3B566E;
  transition: 0.3s color linear;
}
header .menu .menu--list li a {
  color: #3b566e;
}
header .menu .menu--list li:hover {
  cursor: pointer;
}
header .menu .menu--list li.menu--list__discover:hover ul.discover--submenu {
  transform: translateY(0);
  opacity: 1;
}
header .menu .menu--list li.menu-pages:hover ul.discover--submenu {
  transform: translateY(0);
  opacity: 1;
}
header .menu .menu--list ul {
  margin-top: 10px;
  position: absolute;
  padding-left: 0;
  transition: 0.3s linear all;
  opacity: 0;
  transform: translateY(-30%);
  transition: 0.35s ease-in-out all;
  height: 150%;
}
header .menu .menu--list ul li {
  position: relative;
  width: 200px;
  margin-bottom: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #fff;
  transition: 0.2s linear all;
  border-bottom: 1px solid #f5f5f5;
}
header .menu .menu--list ul li a {
  color: #3b566e;
}
header .menu .menu--list ul li:hover {
  padding-left: 14px;
  background-color: #f5f5f5;
}
header .menu .menu--list ul li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #585CE9;
}
header .menu .menu--list ul li:hover::before {
  width: 3px;
}
header .menu .credentials a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.1s linear all;
  border-width: 1px;
  font-weight: 600;
}
header .menu .credentials a:hover {
  background-color: #fff;
  color: #585CE9;
  cursor: pointer;
}
header .menu .credentials a:first-child {
  margin-right: 10px;
  color: #585CE9;
  background-color: #ffffff;
}
header .menu .credentials a:first-child:hover {
  background-color: #585CE9;
  color: #ffffff;
}

#solutions {
  position: relative;
  z-index: 1;
  overflow: hidden;
  max-width: 100%;
}

.solutions {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 70px;
  z-index: 2;
  position: relative;
}
.solutions .solutions--inner {
  padding-top: 100px;
  padding-bottom: 100px;
}
.solutions .solutions--inner h1 {
  font-weight: 400;
  font-size: 28px;
  color: #1e3056;
  line-height: 46px;
  letter-spacing: 0.93px;
  margin-bottom: 20px;
}
.solutions .solutions--inner h1 span {
  color: #585CE9;
}
.solutions .solutions--inner p {
  color: #697ba2;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 40px;
}
.solutions .solutions--inner__link {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.2s linear all;
  padding: 10px 40px;
}
.solutions .solutions--inner__link:hover {
  background-color: #4146e6;
  color: #fff;
  cursor: pointer;
}
.solutions .solutions--inner__link:hover {
  color: #ffffff;
  background-color: #4146e6;
}

.solutions--images {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  height: 580px;
}
.solutions--images__item {
  width: 49%;
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
}
.solutions--images__item:hover img {
  transform: scale(1.1);
}
.solutions--images__item .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #ffffff;
}
.solutions--images__item .play:hover {
  cursor: pointer;
}
.solutions--images__item:nth-of-type(2n + 1) {
  margin-right: 10px;
  margin-bottom: 10px;
}
.solutions--images__item:nth-of-type(1) {
  top: 0;
  left: 0;
  height: 340px;
}
.solutions--images__item:nth-of-type(2) {
  right: 0;
  top: 0;
  height: 49%;
}
.solutions--images__item:nth-of-type(3) {
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  height: 39%;
}
.solutions--images__item:last-of-type {
  bottom: 0;
  right: 0;
  height: 49%;
}
.solutions--images__item:last-of-type:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #585ce9;
  opacity: 0.8;
  z-index: 0;
}
.solutions--images__item img {
  width: 100%;
  height: 100%;
  transition: 0.3s linear all;
  object-fit: cover;
}
.solutions--images__item-about {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;
}
.solutions--images__item-about span {
  display: inline-block;
  margin-top: 100px;
  font-weight: 200;
}
.solutions--images__item-about p {
  font-size: 18px;
  display: block;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.12px;
  line-height: 28px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.solutions .solutions__types {
  width: 100%;
  padding-top: 100px;
  position: relative;
}
.solutions .solutions__types--wrapper {
  display: flex;
  flex-direction: column;
  height: 260px;
  justify-content: space-around;
  padding: 25px 0;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: 0.2s linear all;
}
.solutions .solutions__types--wrapper:hover {
  background-color: #585CE9;
  cursor: pointer;
}
.solutions .solutions__types--wrapper:hover h3 {
  color: #fff;
}
.solutions .solutions__types--wrapper:hover span {
  color: #E5E9F7;
}
.solutions .solutions__types--wrapper_item i {
  border: none;
  background-color: #f7fafd;
  border-radius: 100%;
  color: #585CE9;
  padding: 25px;
}
.solutions .solutions__types--wrapper h3 {
  font-weight: 400;
  font-size: 18px;
  color: #3b566e;
}
.solutions .solutions__types--wrapper span {
  width: 200px;
  display: block;
  margin: 0 auto;
  color: #6F8BA4;
}

section#solutions .circle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
section#solutions .circle img {
  fill: green;
}

section#cloud {
  background-color: #F7FAFD;
}
section#cloud .cloud {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0;
}
section#cloud .cloud h2 {
  color: #3B566E;
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}
section#cloud .cloud h2 + span {
  color: #6F8BA4;
  margin-bottom: 20px;
  display: block;
  font-weight: 300;
  font-size: 20px;
  color: #3B566E;
}
section#cloud .cloud__inner {
  display: flex;
}
section#cloud .cloud__inner-footer .row {
  margin: 0;
}
section#cloud .cloud__inner-footer .row > div {
  padding: 10px 0;
  border-radius: 5px;
}
section#cloud .cloud__inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
section#cloud .cloud__inner-wrapper--list {
  margin-bottom: 30px;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border: 1px solid #E5E9F7;
}
section#cloud .cloud__inner-wrapper--list:hover {
  cursor: pointer;
}
section#cloud .cloud__inner-wrapper--list:hover span {
  left: 35px;
}
section#cloud .cloud__inner-wrapper--list:hover .cloud__inner-wrapper--rotate {
  background-color: #585CE9;
  left: -35px;
}
section#cloud .cloud__inner-wrapper--list:hover i {
  color: #fff;
}
section#cloud .cloud__inner-wrapper--rotate {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  background-color: #F7FAFD;
  position: absolute;
  left: -40px;
  top: 0;
  transition: 0.2s linear all;
}
section#cloud .cloud__inner-wrapper--rotate.active {
  background-color: #585CE9;
  left: -35px;
}
section#cloud .cloud__inner-wrapper i {
  position: absolute;
  height: 100%;
  top: -10px;
  left: 30px;
  padding: 15px 30px;
  color: #3B566E;
  transform: rotate(-45deg);
  font-size: 14px;
}
section#cloud .cloud__inner-wrapper i.active {
  color: #fff;
}
section#cloud .cloud__inner-wrapper a {
  font-weight: 200;
  max-width: 50%;
  position: relative;
  left: 50px;
  top: 0;
}
section#cloud .cloud__inner-wrapper span {
  transition: 0.2s linear all;
  position: relative;
  left: 30px;
}
section#cloud .cloud__inner-wrapper span.active {
  left: 35px;
}
section#cloud .cloud__img {
  width: 100%;
  padding-bottom: 40px;
  text-align: center;
}
section#cloud .cloud__img img {
  max-width: 100%;
}

section#design {
  background-color: #F7FAFD;
}
section#design .design {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0;
}
section#design .design h2 {
  color: #3B566E;
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}
section#design .design h2 + span {
  color: #6F8BA4;
  margin-bottom: 20px;
  display: block;
  font-weight: 300;
  font-size: 20px;
}
section#design .design__inner {
  display: flex;
}
section#design .design__inner-footer .row {
  margin: 0;
}
section#design .design__inner-footer .row > div {
  padding: 10px 0;
  border-radius: 5px;
}
section#design .design__inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
section#design .design__inner-wrapper--list {
  margin-bottom: 30px;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
section#design .design__inner-wrapper--list:hover {
  cursor: pointer;
}
section#design .design__inner-wrapper--list:hover span {
  left: 35px;
}
section#design .design__inner-wrapper--list:hover .design__inner-wrapper--rotate {
  background-color: #585CE9;
  left: -35px;
}
section#design .design__inner-wrapper--list:hover i {
  color: #fff;
}
section#design .design__inner-wrapper--rotate {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  background-color: #F7FAFD;
  position: absolute;
  left: -40px;
  top: 0;
  transition: 0.2s linear all;
}
section#design .design__inner-wrapper--rotate.active {
  background-color: #585CE9;
  left: -35px;
}
section#design .design__inner-wrapper i {
  position: absolute;
  height: 100%;
  top: -10px;
  left: 30px;
  padding: 15px 30px;
  color: #3B566E;
  transform: rotate(-45deg);
  font-size: 14px;
}
section#design .design__inner-wrapper i.active {
  color: #fff;
}
section#design .design__inner-wrapper a {
  font-weight: 200;
  max-width: 50%;
  position: relative;
  left: 50px;
  top: 0;
}
section#design .design__inner-wrapper span {
  transition: 0.2s linear all;
  position: relative;
  left: 30px;
}
section#design .design__inner-wrapper span.active {
  left: 35px;
}
section#design .design__img {
  width: 100%;
  padding-top: 40px;
  text-align: center;
}
section#design .design__img img {
  max-width: 100%;
  margin-bottom: 30px;
}

section#parallax {
  position: relative;
  background-image: url("../../images/parallax/parallax.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
section#parallax .parallax {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  min-height: 270px;
  padding: 50px 0;
}
section#parallax .parallax__wrapper {
  height: 100%;
}
section#parallax .parallax__inner {
  position: relative;
  z-index: 2;
  width: 100%;
  transition: 0.3s linear all;
  text-align: center;
  margin-bottom: 20px;
}
section#parallax .parallax__inner:hover {
  transition: 0.3s linear all;
  transform: translateY(-30px);
}
section#parallax .parallax span {
  font-size: 22px;
  font-weight: 200;
  display: block;
  color: #fff;
}
section#parallax .parallax span.project-count {
  font-size: 24px;
  font-weight: 300;
}
section#parallax .parallax::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #585CE9;
  opacity: 0.8;
}
section#parallax .parallax .parallax-web p {
  color: #fff;
  font-size: 20px;
}
section#parallax .parallax .parallax-web span {
  display: inline-block;
  font-size: 20px;
  text-decoration: underline;
  font-weight: 500;
}
section#parallax .parallax .parallax-web a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #585CE9;
  background-color: #fff;
  transition: 0.1s linear all;
}

section#team {
  padding-top: 100px;
  padding-bottom: 150px;
  position: relative;
}
section#team .team {
  max-width: 1140px;
  margin: 0 auto;
}
section#team .team__header {
  text-align: center;
}
section#team .team__header h3 {
  margin-bottom: 50px;
  font-weight: 200;
}
section#team .team__header h3 {
  margin-bottom: 50px;
  font-weight: 200;
}
section#team .team__header > div {
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
  margin-bottom: 30px;
}
section#team .team__header > div span {
  color: #6F8BA4;
}
section#team .team__footer {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  height: 270px;
  margin-bottom: 60px;
}
section#team .team__footer:hover .team__footer--title {
  min-height: 120px;
}
section#team .team__footer:hover i {
  color: #fff !important;
}
section#team .team__footer:hover .team__footer--img {
  bottom: -55%;
}
section#team .team__footer--title {
  background-color: #585CE9;
  text-align: center;
  min-height: 70px;
  padding-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.3s linear all;
  position: absolute;
  width: 100%;
}
section#team .team__footer--title span {
  color: #fff;
  display: block;
  font-weight: 200;
  font-size: 12px;
}
section#team .team__footer--title span:first-of-type {
  margin-bottom: 5px;
  font-size: 16px;
}
section#team .team__footer--text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
  color: #6F8BA4;
}
section#team .team__footer .social-hubs {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  width: 150px;
}
section#team .team__footer .social-hubs i {
  color: #585CE9;
  transition: 0.3s linear all;
}
section#team .team__footer .social-hubs i:hover {
  cursor: pointer;
}
section#team .team__footer--img {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -80%);
  transition: 0.3s linear all;
}
section#team .team__footer--img img {
  border: 5px solid #fff;
  border-radius: 100%;
}

section#pricing {
  background-color: #F7FAFD;
  padding: 100px 0;
}
section#pricing .pricing__header {
  text-align: center;
}
section#pricing .pricing__header h3 {
  margin-bottom: 50px;
  font-weight: 200;
}
section#pricing .pricing__header > div {
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
  margin-bottom: 30px;
}
section#pricing .pricing__header > div span {
  color: #6F8BA4;
}
section#pricing .pricing__plan {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#pricing .pricing__plan--header {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  top: 0;
  border-bottom: 1px solid #F7FAFD;
  width: 100%;
  height: 125px;
}
section#pricing .pricing__plan--header h3 {
  text-transform: uppercase;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section#pricing .pricing__plan--header.active {
  background-color: #585CE9;
}
section#pricing .pricing__plan--header.active h3 {
  color: #fff;
}
section#pricing .pricing__plan span.plan-number {
  position: absolute;
  color: #585CE9;
  padding: 10px;
  border-radius: 100%;
  border: none;
  width: 50px;
  background-color: #F7FAFD;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20%;
}
section#pricing .pricing__plan--about {
  padding-top: 50px;
}
section#pricing .pricing__plan--about span {
  display: block;
  margin-bottom: 10px;
  color: #3B566E;
  font-size: 14px;
}
section#pricing .pricing__plan--about span.plan-price {
  color: #585CE9;
  font-size: 26px;
  font-weight: bold;
  position: relative;
}
section#pricing .pricing__plan--about span.plan-price::before {
  content: "$";
  position: absolute;
  top: -5px;
  left: 0;
  font-size: 18px;
  font-weight: 400;
}
section#pricing .pricing__plan--about span.through {
  text-decoration: line-through;
  color: #CCDCEA;
}
section#pricing .pricing__plan--about button {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.2s linear all;
  margin: 20px 0;
}
section#pricing .pricing__plan--about button:hover {
  background-color: #4146e6;
  color: #fff;
  cursor: pointer;
}

section#blog {
  background-color: #F7FAFD;
  padding: 100px 0;
}
section#blog .blog {
  max-width: 1140px;
  margin: 0 auto;
}
section#blog .blog__header {
  text-align: center;
}
section#blog .blog__header h3 {
  margin-bottom: 50px;
  font-weight: 200;
}
section#blog .blog__header > div {
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
  margin-bottom: 30px;
}
section#blog .blog__header > div span {
  color: #6F8BA4;
}
section#blog .blog__inner {
  max-width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
section#blog .blog__inner--img {
  overflow: hidden;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 35px;
}
section#blog .blog__inner--img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
section#blog .blog__inner a.title {
  color: #3B566E;
  transition: 0.2s linear all;
  display: block;
  margin: 0 auto;
}
section#blog .blog__inner a.title:hover {
  color: #585CE9;
}
section#blog .blog__inner p {
  color: #6F8BA4;
  font-size: 14px;
  margin-top: 13px;
  letter-spacing: 1.2px;
}
section#blog .blog__inner a.link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.2s linear all;
  padding: 10px 30px;
}
section#blog .blog__inner a.link:hover {
  background-color: #4146e6;
  color: #fff;
  cursor: pointer;
}

footer {
  max-width: 100%;
  color: #E5E9F7;
  padding-top: 100px;
  background-color: #585CE9;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1px;
}
footer .footer {
  max-width: 1140px;
  margin: 0 auto;
}
footer h4 {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 30px;
}
footer ul {
  padding: 0;
}
footer ul li {
  padding-left: 20px;
  position: relative;
  transition: 0.2s linear all;
  line-height: 30px;
}
footer ul li::before {
  position: absolute;
  content: ">";
  top: 0;
  left: 0;
}
footer ul li:hover {
  cursor: pointer;
  padding-left: 25px;
}
footer span {
  display: block;
}
footer .social-hubs a {
  margin-right: 5px;
  color: #E5E9F7;
}
footer .row:first-of-type {
  border-bottom: 1px solid #E5E9F7;
  padding-bottom: 30px;
}
footer h3 {
  text-align: center;
  padding: 30px 0;
  font-weight: 400;
  font-size: 14px;
  color: #E5E9F7;
  letter-spacing: 0.88px;
}
footer .footer__img {
  margin-bottom: 30px;
}

section#parallax-about {
  position: relative;
  background-image: url("../../images/parallax/parallax-about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 300px;
  overflow: hidden;
}
section#parallax-about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #585CE9;
  opacity: 0.8;
}
section#parallax-about .parallax-about__inner {
  text-align: center;
  position: absolute;
  z-index: 2;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 14px;
}
section#parallax-about .parallax-about__inner h3 {
  position: relative;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
}
section#parallax-about .parallax-about__inner h3:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
section#parallax-about .parallax-about__inner a {
  color: #fff;
  margin-right: 30px;
  position: relative;
}
section#parallax-about .parallax-about__inner a::after {
  content: ">";
  position: absolute;
  color: #fff;
  right: -40%;
}

section#help {
  max-width: 1140px;
  margin: 0 auto;
}
section#help .help__header {
  text-align: center;
  padding: 100px 0;
}
section#help .help__header h3 {
  color: #3B566E;
}
section#help .help__header p {
  color: #697BA2;
  width: 40%;
  text-align: center;
  margin: 0 auto;
}
section#help .solutions__types {
  width: 100%;
  padding-bottom: 100px;
  position: relative;
}
section#help .solutions__types--wrapper {
  display: flex;
  flex-direction: column;
  height: 260px;
  justify-content: space-around;
  padding: 25px 0;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  transition: 0.2s linear all;
}
section#help .solutions__types--wrapper:hover {
  background-color: #585CE9;
  cursor: pointer;
}
section#help .solutions__types--wrapper:hover h3 {
  color: #fff;
}
section#help .solutions__types--wrapper:hover span {
  color: #E5E9F7;
}
section#help .solutions__types--wrapper_item i {
  border: none;
  background-color: #f7fafd;
  border-radius: 100%;
  color: #585CE9;
  padding: 25px;
}
section#help .solutions__types--wrapper h3 {
  font-weight: 400;
  font-size: 18px;
  color: #3b566e;
}
section#help .solutions__types--wrapper span {
  width: 200px;
  display: block;
  margin: 0 auto;
  color: #6F8BA4;
}
section#help .our-mission {
  position: relative;
  padding-bottom: 100px;
}
section#help .our-mission__img {
  max-width: 100%;
  width: 800px;
  min-height: 500px;
  overflow: hidden;
}
section#help .our-mission__img:hover > img {
  transform: scale(1.1);
}
section#help .our-mission__img img {
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s linear all;
}
section#help .our-mission__about {
  position: absolute;
  top: 40%;
  right: -10px;
  transform: translateY(-50%);
  width: 444px;
  height: 370px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  color: #3B566E;
}
section#help .our-mission__about h2 {
  font-weight: 400;
  font-size: 22px;
}
section#help .our-mission__about p {
  font-weight: 200;
  font-size: 16px;
}

section#vision {
  max-width: 1140px;
  margin: 0 auto;
}
section#vision .our-vision {
  position: relative;
  padding: 100px 0;
}
section#vision .our-vision__img {
  margin-left: auto;
  max-width: 800px;
  min-height: 500px;
  overflow: hidden;
}
section#vision .our-vision__img:hover > img {
  transform: scale(1.1);
}
section#vision .our-vision__img img {
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s linear all;
}
section#vision .our-vision__about {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 444px;
  height: 370px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  z-index: 2;
  color: #3B566E;
}
section#vision .our-vision__about h2 {
  font-weight: 400;
  font-size: 22px;
}
section#vision .our-vision__about p {
  font-weight: 200;
  font-size: 16px;
}

section#features {
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 0;
}
section#features .features__about {
  margin: 30px 0;
  color: #6F8BA4;
  font-weight: 400;
  font-size: 16px;
}
section#features .features__img img {
  width: 100%;
  border-radius: 5px;
}
section#features .features__slider--item {
  overflow: hidden;
  height: 152px;
  border-radius: 5px;
  object-fit: contain;
}
section#features .features__slider--item img {
  max-width: 100%;
  transition: 0.2s linear all;
  border-radius: 5px;
}
section#features .features__slider--item img:hover {
  transform: scale(1.1);
}
section#features .features__list {
  width: 100%;
  margin: 30px 0;
}
section#features .features__list ul {
  width: 100%;
  border-radius: 5px;
  padding: 0;
}
section#features .features__list ul li {
  padding: 10px 0 10px 50px;
  width: 100%;
  background-color: #fff;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  transition: 0.3s linear all;
  margin-bottom: 1px;
}
section#features .features__list ul li::before {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  left: 20px;
  font-weight: 400;
}
section#features .features__list ul li:hover {
  cursor: pointer;
  padding-left: 60px;
}
section#features .features__list ul li a {
  color: #3B566E;
  font-weight: 400;
}
section#features .features__list ul li:first-child, section#features .features__list ul li:last-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section#features .features__list ul li.active {
  background-color: #585CE9;
}
section#features .features__list ul li.active a {
  color: #fff;
}
section#features .features__list ul li.active::before {
  color: #fff;
}
section#features .features__list ul li.active:hover {
  padding-left: 52px;
}
section#features .featurs__link {
  width: 100%;
  position: relative;
}
section#features .featurs__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #585CE9;
  opacity: 0.8;
}
section#features .featurs__link img {
  max-width: 100%;
}
section#features .featurs__link--info {
  position: absolute;
  z-index: 3;
  top: 0;
  padding: 50px 40px;
  text-align: center;
}
section#features .featurs__link--info p {
  color: #fff;
  width: 90%;
  font-size: 18px;
  font-weight: 600;
}
section#features .featurs__link--info a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.1s linear all;
  border-width: 1px;
  font-weight: 600;
  color: #585CE9;
  background-color: #ffffff;
  transition: 0.1s linear all;
  padding: 10px 40px;
}
section#features .featurs__link--info a:hover {
  background-color: #fff;
  color: #585CE9;
  cursor: pointer;
}
section#features .featurs__link--info a:hover {
  color: #0056b3;
}

section#parallax-features {
  position: relative;
  background-image: url("../../images/parallax/parallax-about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 300px;
  overflow: hidden;
}
section#parallax-features::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #585CE9;
  opacity: 0.8;
}
section#parallax-features .parallax-features__inner {
  text-align: center;
  position: absolute;
  z-index: 2;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 14px;
}
section#parallax-features .parallax-features__inner h3 {
  position: relative;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
}
section#parallax-features .parallax-features__inner h3:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
}
section#parallax-features .parallax-features__inner a {
  color: #fff;
  margin-right: 30px;
  position: relative;
}
section#parallax-features .parallax-features__inner a::after {
  content: ">";
  position: absolute;
  color: #fff;
  right: -40%;
}

section#solutions-types {
  padding: 100px 0;
  max-width: 1140px;
  margin: 0 auto;
}
section#solutions-types .solution__wrapper {
  justify-content: space-between;
  padding: 50px 40px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff;
  margin-bottom: 30px;
}
section#solutions-types .solution__wrapper--img {
  width: 135px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
section#solutions-types .solution__wrapper--img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F7FAFD;
  z-index: 0;
  transition: 0.2s linear all;
}
section#solutions-types .solution__wrapper--img img {
  position: relative;
  z-index: 1;
}
section#solutions-types .solution__wrapper--info {
  width: 280px;
}
section#solutions-types .solution__wrapper--info h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #3B566E;
}
section#solutions-types .solution__wrapper--info span {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.8px;
}
section#solutions-types .solution__wrapper:hover .solution__wrapper--img::after {
  transform: rotate(45deg);
}

section#questions {
  padding: 100px 0;
}
section#questions .questions {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0;
}
section#questions .questions h3 {
  font-weight: 400;
  font-size: 30px;
  color: #585CE9;
  margin-bottom: 20px;
}
section#questions .questions p {
  color: #697BA2;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 35px;
  letter-spacing: 0.8px;
}
section#questions .questions a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.2s linear all;
  padding-top: 10px;
  padding-bottom: 10px;
}
section#questions .questions a:hover {
  background-color: #4146e6;
  color: #fff;
  cursor: pointer;
}
section#questions .questions__img {
  width: 100%;
  padding-bottom: 40px;
  text-align: center;
}
section#questions .questions__img img {
  max-width: 100%;
}
section#questions .questions .accordion {
  color: #6F8BA4 !important;
  text-align: center;
}
section#questions .questions .accordion__item {
  height: 36px;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 5px;
}
section#questions .questions .accordion__item h3 {
  transition: 0.3s linear;
  background-color: #697ba2;
  color: #fff;
  font-style: 26pd;
}
section#questions .questions .accordion__item:hover h3 {
  cursor: pointer;
  padding-left: 20px;
  transition: 0.3s linear;
}
section#questions .questions .accordion__item.active {
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 200px;
}

section#expands {
  padding: 100px 0;
}
section#expands .expands {
  max-width: 1140px;
  margin: 0 auto;
}
section#expands .expands__header--img {
  max-width: 100%;
  width: 730px;
  height: 400px;
  position: relative;
}
section#expands .expands__header--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section#expands .expands__header--img-date {
  padding: 5px 20px;
  background: #000;
  opacity: 0.3;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section#expands .expands__header--img-date span {
  color: #fff;
}
section#expands .expands__header--img-date span:first-child {
  position: relative;
  font-weight: 700;
  z-index: 2;
}
section#expands .expands__header--info {
  padding: 40px 0;
  background-color: #fff;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
section#expands .expands__header--info-inner {
  width: 230px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
section#expands .expands__header--info-inner a {
  color: #585CE9;
  position: relative;
}
section#expands .expands__header--info-inner a i {
  margin-right: 5px;
}
section#expands .expands__header--info h3 {
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
  letter-spacing: 1px;
}
section#expands .expands__header--info h3 a {
  transition: 0.2s linear all;
}
section#expands .expands__header--info h3 a:hover {
  color: #585CE9;
}
section#expands .expands__header--info p {
  padding: 0 30px;
  color: #6F8BA4;
}
section#expands .expands__header--info > a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.2s linear all;
  padding: 10px 40px;
}
section#expands .expands__header--info > a:hover {
  background-color: #4146e6;
  color: #fff;
  cursor: pointer;
}
section#expands .expands__header--wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section#expands .expands__header--wrapper-item {
  width: 48%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-bottom: 30px;
}
section#expands .expands__header--wrapper-item_img {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
section#expands .expands__header--wrapper-item_img img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section#expands .expands__header--wrapper-item_img > div {
  position: absolute;
  bottom: 0;
}
section#expands .expands__header--wrapper-item_info {
  width: 220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
section#expands .expands__header--wrapper-item_info a {
  color: #585CE9;
  position: relative;
}
section#expands .expands__header--wrapper-item_info a i {
  margin-right: 5px;
}
section#expands .expands__header--wrapper-item_info a span {
  margin: 0 5px;
  display: inline-block;
}
section#expands .expands__header--wrapper-item_inner {
  text-align: center;
  padding: 10px 30px;
}
section#expands .expands__header--wrapper-item_inner h3 {
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
  letter-spacing: 1px;
  line-height: 2;
}
section#expands .expands__header--wrapper-item_inner h3 a {
  color: #3B566E;
  transition: 0.3s linear all;
}
section#expands .expands__header--wrapper-item_inner h3 a:hover {
  color: #585CE9;
}
section#expands .expands__header--wrapper-item_inner p {
  color: #6F8BA4;
}
section#expands .expands__header--wrapper-item_inner > a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.2s linear all;
  padding: 10px 40px;
}
section#expands .expands__header--wrapper-item_inner > a:hover {
  background-color: #4146e6;
  color: #fff;
  cursor: pointer;
}
section#expands .expands__header--pages {
  margin: 40px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
section#expands .expands__header--pages a {
  width: 30px;
  height: 30px;
  border: 1px solid #E5E9F7;
  color: #585CE9;
  position: relative;
  transition: 0.3s linear all;
  background-color: #fff;
  font-size: 14px;
}
section#expands .expands__header--pages a:hover {
  background-color: #E5E9F7;
}
section#expands .expands__header--pages a:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
section#expands .expands__header--pages a:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
section#expands .expands__header--pages a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section#expands .expands__header--pages a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
}
section#expands .expands__search {
  position: relative;
  margin-bottom: 30px;
}
section#expands .expands__search--input {
  width: 100%;
  height: 50px;
  border: none;
  padding-left: 20px;
  transition: 0.2s linear all;
}
section#expands .expands__search--input:focus {
  padding-left: 30px;
}
section#expands .expands__search a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #585CE9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#expands .expands__search a i {
  color: #fff;
}
section#expands .expands__list {
  width: 100%;
  margin: 18px 0;
}
section#expands .expands__list ul {
  width: 100%;
  border-radius: 5px;
  padding: 0;
}
section#expands .expands__list ul li {
  padding: 15px 0 15px 50px;
  width: 100%;
  background-color: #fff;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  transition: 0.3s linear all;
  margin-bottom: 1px;
}
section#expands .expands__list ul li::before {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  left: 20px;
  font-weight: 400;
}
section#expands .expands__list ul li:hover {
  cursor: pointer;
  padding-left: 60px;
}
section#expands .expands__list ul li a {
  color: #3B566E;
  font-weight: 400;
}
section#expands .expands__list ul li span {
  position: absolute;
  padding: 5px 13px;
  background-color: #585CE9;
  border-radius: 10px;
  font-size: 10px;
  color: #fff;
  right: 5%;
}
section#expands .expands__list ul li:first-child, section#expands .expands__list ul li:last-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section#expands .expands__links {
  width: 100%;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
section#expands .expands__links a {
  display: inline-block;
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 5px;
  color: #3B566E;
  background-color: #f5f5f5;
  transition: 0.1s linear all;
  margin: 0 5px 10px 0;
}
section#expands .expands__links a:hover {
  background-color: #585CE9;
  color: #fff;
  cursor: pointer;
}
section#expands .expands__link {
  width: 100%;
  position: relative;
  border-radius: 5px;
}
section#expands .expands__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #585CE9;
  opacity: 0.8;
  border-radius: 5px;
}
section#expands .expands__link img {
  max-width: 100%;
  border-radius: 5px;
}
section#expands .expands__link--info {
  position: absolute;
  z-index: 3;
  top: 0;
  padding: 50px 40px;
  text-align: center;
}
section#expands .expands__link--info p {
  color: #fff;
  width: 90%;
  font-size: 18px;
  font-weight: 600;
}
section#expands .expands__link--info a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.1s linear all;
  border-width: 1px;
  font-weight: 600;
  color: #585CE9;
  background-color: #ffffff;
  transition: 0.1s linear all;
  padding: 10px 40px;
}
section#expands .expands__link--info a:hover {
  background-color: #fff;
  color: #585CE9;
  cursor: pointer;
}
section#expands .expands__link--info a:hover {
  color: #0056b3;
}

section#parallax-blog_single {
  position: relative;
  background-image: url("../../images/parallax/parallax-about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 300px;
  overflow: hidden;
}
section#parallax-blog_single::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #585CE9;
  opacity: 0.8;
}
section#parallax-blog_single .parallax-blog_single__inner {
  text-align: center;
  position: absolute;
  z-index: 2;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 14px;
}
section#parallax-blog_single .parallax-blog_single__inner h3 {
  position: relative;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
}
section#parallax-blog_single .parallax-blog_single__inner h3:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
section#parallax-blog_single .parallax-blog_single__inner a {
  color: #fff;
  margin-right: 30px;
  position: relative;
}
section#parallax-blog_single .parallax-blog_single__inner a::after {
  content: ">";
  position: absolute;
  color: #fff;
  right: -40%;
}

section#features .features {
  max-width: 1140px;
  margin: 0 auto;
}
section#features .features__inner {
  padding: 0 20px !important;
  margin-bottom: 20px;
}
section#features .features__header--img {
  max-width: 100%;
  width: 730px;
  height: 400px;
  position: relative;
}
section#features .features__header--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section#features .features__header--img-date {
  padding: 5px 20px;
  background: #000;
  opacity: 0.3;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section#features .features__header--img-date span {
  color: #fff;
}
section#features .features__header--img-date span:first-child {
  position: relative;
  font-weight: 700;
  z-index: 2;
}
section#features .features__header--info {
  padding: 40px 0;
  background-color: #fff;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
section#features .features__header--info-inner {
  width: 230px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
section#features .features__header--info-inner a {
  color: #585CE9;
  position: relative;
}
section#features .features__header--info-inner a i {
  margin-right: 5px;
}
section#features .features__header--info h3 {
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
  letter-spacing: 1px;
}
section#features .features__header--info h3 a {
  transition: 0.2s linear all;
}
section#features .features__header--info h3 a:hover {
  color: #585CE9;
}
section#features .features__header--info p {
  padding: 0 30px;
  color: #6F8BA4;
}
section#features .features__header--info > a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.2s linear all;
  padding: 10px 40px;
}
section#features .features__header--info > a:hover {
  background-color: #4146e6;
  color: #fff;
  cursor: pointer;
}
section#features .features__header--wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section#features .features__header--wrapper-item {
  width: 48%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-bottom: 30px;
}
section#features .features__header--wrapper-item_img {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
section#features .features__header--wrapper-item_img img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section#features .features__header--wrapper-item_img > div {
  position: absolute;
  bottom: 0;
}
section#features .features__header--wrapper-item_info {
  width: 220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
section#features .features__header--wrapper-item_info a {
  color: #585CE9;
  position: relative;
}
section#features .features__header--wrapper-item_info a i {
  margin-right: 5px;
}
section#features .features__header--wrapper-item_info a span {
  margin: 0 5px;
  display: inline-block;
}
section#features .features__header--wrapper-item_inner {
  text-align: center;
  padding: 10px 30px;
}
section#features .features__header--wrapper-item_inner h3 {
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
  letter-spacing: 1px;
  line-height: 2;
}
section#features .features__header--wrapper-item_inner h3 a {
  color: #3B566E;
  transition: 0.3s linear all;
}
section#features .features__header--wrapper-item_inner h3 a:hover {
  color: #585CE9;
}
section#features .features__header--wrapper-item_inner p {
  color: #6F8BA4;
}
section#features .features__header--wrapper-item_inner > a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.2s linear all;
  padding: 10px 40px;
}
section#features .features__header--wrapper-item_inner > a:hover {
  background-color: #4146e6;
  color: #fff;
  cursor: pointer;
}
section#features .features__header--pages {
  margin: 40px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
section#features .features__header--pages a {
  width: 30px;
  height: 30px;
  border: 1px solid #E5E9F7;
  color: #585CE9;
  position: relative;
  transition: 0.3s linear all;
  background-color: #fff;
  font-size: 14px;
}
section#features .features__header--pages a:hover {
  background-color: #E5E9F7;
}
section#features .features__header--pages a:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
section#features .features__header--pages a:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
section#features .features__header--pages a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section#features .features__header--pages a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
}
section#features .features__search {
  position: relative;
  margin-bottom: 30px;
}
section#features .features__search--input {
  width: 100%;
  height: 50px;
  border: none;
  padding-left: 20px;
  transition: 0.2s linear all;
}
section#features .features__search--input:focus {
  padding-left: 30px;
}
section#features .features__search a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #585CE9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#features .features__search a i {
  color: #fff;
}
section#features .features__list {
  width: 100%;
  margin: 18px 0;
}
section#features .features__list ul {
  width: 100%;
  border-radius: 5px;
  padding: 0;
}
section#features .features__list ul li {
  padding: 15px 0 15px 50px;
  width: 100%;
  background-color: #fff;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  transition: 0.3s linear all;
  margin-bottom: 1px;
}
section#features .features__list ul li::before {
  content: "\f105";
  font-family: FontAwesome;
  position: absolute;
  left: 20px;
  font-weight: 400;
}
section#features .features__list ul li:hover {
  cursor: pointer;
  padding-left: 60px;
}
section#features .features__list ul li a {
  color: #3B566E;
  font-weight: 400;
}
section#features .features__list ul li span {
  position: absolute;
  padding: 5px 13px;
  background-color: #585CE9;
  border-radius: 10px;
  font-size: 10px;
  color: #fff;
  right: 5%;
}
section#features .features__list ul li:first-child, section#features .features__list ul li:last-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section#features .features__links {
  width: 100%;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
section#features .features__links a {
  display: inline-block;
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 5px;
  color: #3B566E;
  background-color: #f5f5f5;
  transition: 0.1s linear all;
  margin: 0 5px 10px 0;
}
section#features .features__links a:hover {
  background-color: #585CE9;
  color: #fff;
  cursor: pointer;
}
section#features .features__link {
  width: 100%;
  position: relative;
  border-radius: 5px;
}
section#features .features__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #585CE9;
  opacity: 0.8;
  border-radius: 5px;
}
section#features .features__link img {
  max-width: 100%;
  border-radius: 5px;
}
section#features .features__link--info {
  position: absolute;
  z-index: 3;
  top: 0;
  padding: 50px 40px;
  text-align: center;
}
section#features .features__link--info p {
  color: #fff;
  width: 90%;
  font-size: 18px;
  font-weight: 600;
}
section#features .features__link--info a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.1s linear all;
  border-width: 1px;
  font-weight: 600;
  color: #585CE9;
  background-color: #ffffff;
  transition: 0.1s linear all;
  padding: 10px 40px;
}
section#features .features__link--info a:hover {
  background-color: #fff;
  color: #585CE9;
  cursor: pointer;
}
section#features .features__link--info a:hover {
  color: #0056b3;
}
section#features .features__comments {
  background-color: #fff;
  padding: 20px;
  color: #6F8BA4;
  margin-bottom: 20px;
}
section#features .features__comments p {
  line-height: 30px;
}
section#features .features__comments .quote {
  text-align: center;
  padding: 30px 60px;
  background-color: #F4F8FB;
  margin-bottom: 20px;
}
section#features .features__comments .quote span {
  color: #3B566E;
}
section#features .features__things {
  background-color: #fff;
  padding: 20px;
  color: #6F8BA4;
  margin-bottom: 20px;
}
section#features .features__things .comment {
  position: relative;
  display: flex;
}
section#features .features__things .comment .user__img {
  padding: 10px;
}
section#features .features__things .comment .user__img img {
  border-radius: 5px;
}
section#features .features__things .comment .user__info {
  padding: 10px;
  color: #3B566E;
}
section#features .features__things .comment .user__info .username {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
section#features .features__things .comment .user__info .comment-date {
  font-size: 12px;
  margin-bottom: 5px;
}
section#features .features__things .comment .user__info .comment-content p {
  font-size: 14px;
  line-height: 25px;
}
section#features .features__things .comment a {
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 5px;
  color: #3B566E;
  background-color: #f5f5f5;
  transition: 0.1s linear all;
  position: absolute;
  right: 0;
  padding: 5px 40px;
}
section#features .features__things .comment a:hover {
  background-color: #585CE9;
  color: #fff;
  cursor: pointer;
}
section#features .features__things .comment a::before {
  content: \f3e5;
  position: absolute;
  font-size: 10px;
}
section#features .features form.features__credentials {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
section#features .features form.features__credentials label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #3B566E;
}
section#features .features form.features__credentials .title {
  color: #3B566E;
  font-size: 18px;
  margin-bottom: 10px;
}
section#features .features form.features__credentials .user-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
section#features .features form.features__credentials .user-info > div {
  width: 48%;
}
section#features .features form.features__credentials .user-info > div input {
  width: 100%;
  padding: 10px 20px;
  transition: 0.2s linear all;
  border: 1px solid #dadcdd;
  border-radius: 5px;
}
section#features .features form.features__credentials .user-info > div input:focus {
  padding-left: 30px;
}
section#features .features form.features__credentials .user-comment {
  width: 100%;
}
section#features .features form.features__credentials .user-comment textarea {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 20px;
  border: none;
  border-radius: 5px;
  transition: 0.2s linear all;
  border: 1px solid #dadcdd;
}
section#features .features form.features__credentials .user-comment textarea:focus {
  padding-left: 30px;
}
section#features .features form.features__credentials button[type=submit] {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.2s linear all;
  padding: 10px 30px;
}
section#features .features form.features__credentials button[type=submit]:hover {
  background-color: #4146e6;
  color: #fff;
  cursor: pointer;
}
section#features .features__slider {
  position: relative;
}
section#features .features__slider .images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
}
section#features .features__slider .images a {
  overflow: hidden;
  width: 200px;
  height: 133px;
  border-radius: 5px;
}
section#features .features__slider .images a img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.features__modal {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.678);
  display: none;
  z-index: 10;
}
.features__modal .popup {
  position: relative;
}
.features__modal .popup .close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
}
.features__modal .popup .close span {
  cursor: pointer;
  font-size: 30px;
  color: #fff;
}
.features__modal .close {
  z-index: 5;
  position: absolute;
  top: 30px;
  right: 30px;
}
.features__modal .close span {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.features__modal .arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.features__modal .arrows div {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.features__modal .arrows > div {
  position: absolute;
}
.features__modal .arrows .prev {
  left: 10%;
}
.features__modal .arrows .next {
  right: 10%;
}

section#contact {
  padding: 100px 0;
}
section#contact .contact {
  max-width: 1140px;
  margin: 0 auto;
}
section#contact .contact__inner--credentials {
  position: relative;
  background-color: #585CE9;
  padding: 50px;
  width: 80%;
  margin: 0 auto;
}
section#contact .contact__inner--credentials_item {
  position: relative;
}
section#contact .contact__inner--credentials_item i {
  color: #fff;
  position: absolute;
  top: 10%;
  left: -25px;
}
section#contact .contact__inner--credentials_item .info {
  display: inline-block;
}
section#contact .contact__inner--credentials_item .info span {
  color: #fff;
}
section#contact .contact__inner--credentials_item .info span:nth-of-type(2) {
  display: block;
}
section#contact .contact__inner--credentials .social-hubs {
  text-align: center;
  margin-top: 30px;
}
section#contact .contact__inner--credentials .social-hubs i {
  color: #fff;
  font-size: 22px;
  margin-right: 10px;
}
section#contact .contact__inner--credentials .social-hubs i:lastc {
  margin: 0;
}
section#contact .contact__form {
  padding: 50px 0;
}
section#contact .contact__form h3 {
  color: #6F8BA4;
  font-size: 20px;
  font-weight: 500;
}
section#contact .contact__form p {
  color: #6F8BA4;
  font-weight: 300;
  line-height: 2.1;
}
section#contact .contact__form-table {
  width: 100%;
}
section#contact .contact__form-table_credentials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
section#contact .contact__form-table_credentials input {
  width: 48%;
  padding: 10px 0 10px 25px;
  transition: 0.2s linear all;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}
section#contact .contact__form-table_credentials input:focus {
  padding-left: 40px;
}
section#contact .contact__form-table_text {
  width: 100%;
  margin-bottom: 40px;
}
section#contact .contact__form-table_text textarea {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 20px;
  border: none;
  border-radius: 5px;
  transition: 0.2s linear all;
}
section#contact .contact__form-table_text textarea:focus {
  padding-left: 30px;
}
section#contact .contact__form-table_send a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 5px;
  border: 2px solid #585CE9;
  color: #fff;
  background-color: #585CE9;
  transition: 0.2s linear all;
  padding: 10px 60px;
}
section#contact .contact__form-table_send a:hover {
  background-color: #4146e6;
  color: #fff;
  cursor: pointer;
}

header .credentials {
  display: flex;
  justify-content: flex-end;
}

form.registration {
  width: 800px;
  height: 800px;
}

@media only screen and (max-width: 992px) {
  .solutions--inner {
    text-align: center;
  }

  .solutions__types--wrapper {
    margin-bottom: 20px;
  }

  .our-vision__about {
    margin-bottom: 20px;
  }

  .our-mission__about, .our-vision__about {
    position: static !important;
    transform: none !important;
    width: 100% !important;
    height: auto !important;
    transform: none !important;
  }

  .expands__header--wrapper-item_info {
    width: 60% !important;
  }
}
@media only screen and (max-width: 768px) {
  .expands__header--wrapper-item {
    width: 100% !important;
  }

  .features__slider--item {
    margin-bottom: 20px !important;
  }

  .contact__form-table_credentials input, .contact__form-table_text textarea {
    font-size: 12px;
  }

  .features__slider .images {
    flex-direction: column;
  }
  .features__slider .images a {
    width: 100% !important;
    height: 200px !important;
    margin-bottom: 10px;
  }
  .features__slider .images a img {
    width: 100% !important;
  }
}
@media only screen and (max-width: 575px) {
  .cloud__inner-wrapper > div, .design__inner-wrapper > div {
    width: 100%;
  }

  .our-mission__about, .our-vision__about {
    text-align: center;
  }

  .contact__form-table_credentials input, .contact__form-table_text textarea {
    font-size: 10px;
  }

  .name, .email {
    width: 100% !important;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
