section#parallax-blog_single{
    position: relative;
    background-image: url('../../images/parallax/parallax-about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 300px;
    overflow: hidden;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $main-color;
        opacity: .8;
    }
    .parallax-blog_single__inner{
        text-align: center;
        position: absolute;
        z-index: 2;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 400;
        font-size: 14px;
        h3{
            position: relative;
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 36px;
            &:after{
                content: '';
                    position: absolute;
                    width: 20px;
                    height: 2px;
                    background-color: #fff;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
            }
            
        }
        a{
            color: #fff;
            margin-right: 30px;
            position: relative;
            
            &::after{
                content: '>';
                position: absolute;
                color: #fff;
                right: -40%;
            }
        }
    }
}
section#features{
    .features{
        max-width: 1140px;
        margin: 0 auto;
        &__inner{
            padding: 0 20px !important;
            margin-bottom: 20px;
        }
        &__header{
            &--img{
                max-width: 100%;
                width: 730px;
                height: 400px;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover
                }
                &-date{
                    padding: 5px 20px;
                    background: #000;
                    opacity: .3;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    border-top-left-radius: 5px ;
                    border-top-right-radius: 5px ;
                    span{
                        color: #fff;
                        &:first-child{
                            position: relative;
                            font-weight: 700;
                            z-index: 2;
                        }
                    }
                }
            }
            &--info{
                padding: 40px 0;
                background-color: #fff;
                position: relative;
                text-align: center;
                margin-bottom: 30px;
                &-inner{
                        width: 230px;
                        margin: 0 auto;
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: space-between;
                    a{
                        color: $main-color;
                        position: relative;
                        
                        i{
                            margin-right: 5px;
                        }
                    }
                }
                h3{
                    font-weight: 400;
                    font-size: 16px;
                    color: #3B566E;
                    letter-spacing: 1px;
                    a{
                        transition: .2s linear all;
                        &:hover{
                            color: $main-color;
                        }
                    }
                }
                p{
                    padding: 0 30px;
                    color: $solutions-span-color;
                }
                > a{
                    @include button-dark;
                    padding: 10px 40px;
                }
            }
            &--wrapper{
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                &-item{
                    width: 48%;
                    background: #fff;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    padding-bottom: 30px;
                    &_img{
                        width: 100%;
                        position: relative;
                        margin-bottom: 30px;
                        img{
                        max-width: 100%;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        }
                        > div{
                            position: absolute;
                            bottom: 0;
                        }
                    }
                    &_info{
                        width: 220px;
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;
                        a{
                            color: $main-color;
                            position: relative;
                            
                            i{
                                margin-right: 5px;
                            }
                            span{
                                margin: 0 5px;
                                display: inline-block;
                            }
                        }
                    }
                    &_inner{
                        text-align: center;
                        padding: 10px 30px;
                        h3{
                            font-weight: 400;
                            font-size: 16px;
                            color: #3B566E;
                            letter-spacing: 1px;
                            line-height: 2;
                            a{
                                color: $li-color;
                                transition: .3s linear all;
                                &:hover{
                                    color: $main-color;
                                }
                            }
                        }
                        p{
                            color: $solutions-span-color;
                        }
                        > a{
                            @include button-dark;
                            padding: 10px 40px;
                        }
                    }
                }
            }
            &--pages{
                margin: 40px 0;
                text-align: center;
                display: flex;
                justify-content: center;
                a{
                    width: 30px;
                    height: 30px;
                    border: 1px solid $footer-li-color;
                    color: $main-color;
                    position: relative;
                    transition: .3s linear all;
                    background-color: #fff;
                    font-size: 14px;
                    &:hover{
                        background-color: $footer-li-color;
                    }
                    &:first-child{
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }
                    &:last-child{
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                    span{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    i{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 10px;
                    }
                }
            }
        }
        &__search{
            position: relative;
            margin-bottom: 30px;
            &--input{
                width: 100%;
                height: 50px;
                border: none;
                padding-left: 20px;
                transition: .2s linear all;
                &:focus{
                    padding-left: 30px;
                }
            }
            a{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                width: 40px;
                height: 40px;
                background-color: $main-color;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    color: #fff;
                }
            }
        }
        &__list{
            width: 100%;
            margin: 18px 0;
            ul{
                width: 100%;
                border-radius: $border-radius-size;
                padding: 0;
                li{
                    padding: 15px 0 15px 50px;
                    width: 100%;
                    background-color: #fff;
                    position: relative;
                    font-weight: 400;
                    font-size: 14px;
                    transition: .3s linear all;
                    margin-bottom: 1px;
                    &::before{
                        content: '\f105';
                        font-family: FontAwesome;
                        position: absolute;
                        left: 20px;
                        font-weight: 400;
                    }
                    &:hover{
                        cursor: pointer;
                        padding-left: 60px;
                    }
                    a{
                        color: $li-color;
                        font-weight: 400;
                    }
                    span{
                        position: absolute;
                        padding: 5px 13px;
                        background-color: $main-color;
                        border-radius: 10px;
                        font-size: 10px;
                        color: #fff;
                        right: 5%;
                    }
                    &:first-child, &:last-child{
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                }
            }
        }
        &__links{
            width: 100%;
            background-color: #fff;
            padding: 25px;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
            a{
                display: inline-block;
                @include button-light_bg;
                margin: 0 5px 10px 0;
            }
        }
        &__link{
            width: 100%;
            position: relative;
            border-radius: 5px;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $main-color;
                opacity: .8;
                border-radius: 5px;
            }
            img{
                max-width: 100%;
                border-radius: 5px;
            }
            &--info{
                position: absolute;
                z-index: 3;
                top: 0;
                padding: 50px 40px;
                text-align: center;
                p{
                    color: #fff;
                    width: 90%;
                    font-size: 18px;
                    font-weight: 600;
                }
                a{
                    @include button-light;
                    border-width: 1px;
                    font-weight: 600;
                    color: $main-color;
                    background-color: #ffffff;
                    transition: .1s linear all;
                    padding: 10px 40px;
                    &:hover{
                        color: #0056b3;
                    }
                }
            }
        }
        &__comments{
            background-color: #fff;
            padding: 20px;
            color: $solutions-span-color;
            margin-bottom: 20px;
            p{
                line-height: 30px
            }
            .quote{
                text-align: center;
                padding: 30px 60px;
                background-color: #F4F8FB;
                margin-bottom: 20px;
                span{
                    color: #3B566E;
                }
            }
        }
        &__things{
            background-color: #fff;
            padding: 20px;
            color: $solutions-span-color;
            margin-bottom: 20px;
            .comment{
                position: relative;
                display: flex;
                .user__img{
                    padding: 10px;
                    img{
                        border-radius: 5px;
                    }
                }
                .user__info{
                    padding: 10px;
                    color: #3B566E;
                    .username{
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: 5px;
                    }
                    .comment-date{
                        font-size: 12px;
                        margin-bottom: 5px;
                    }
                    .comment-content{
                        p{
                            font-size: 14px;
                            line-height: 25px;
                        }
                    }
                }
                a{
                    @include button-light-bg;
                    position: absolute;
                    right: 0;
                    padding: 5px 40px;
                    &::before{
                        content: \f3e5;
                        position: absolute;
                        font-size: 10px;
                    }
                }
            }
        }
        form.features__credentials{
            background-color: #fff;
            padding: 20px;
            border-radius: $border-radius-size;
            label{
                display: block;
                text-transform: uppercase;
                margin-bottom: 10px;
                color: #3B566E;
            }
            .title{
                color: #3B566E;
                font-size: 18px;
                margin-bottom: 10px;
            }
            .user-info{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 30px;
                > div{
                    width: 48%;
                    input{
                        width: 100%;
                        padding: 10px 20px;
                        transition: .2s linear all;
                        border: 1px solid #dadcdd;
                        border-radius: $border-radius-size;
                        &:focus{
                            padding-left: 30px;
                        }
                    }
                }
                
            }
            .user-comment{
                width: 100%;
                textarea{
                    width: 100%;
                    height: 150px;
                    resize: none;
                    padding: 20px;
                    border: none;
                    border-radius: $border-radius-size;
                    transition: 0.2s linear all;
                    border: 1px solid #dadcdd;
                    &:focus{
                        padding-left: 30px;
                    }
                }
            }
            button[type="submit"]{
                margin-top: 20px;
                @include button-dark;
                padding: 10px 30px;
            }
        }
        &__slider{
            position: relative;
       
            .images{
                display: flex;
                align-items: center;
                justify-content: space-between;
                a{
                    overflow: hidden;
                    width: 200px;
                    height: 133px;
                    border-radius: $border-radius-size;
                    img{
                        object-fit: cover;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
            
        }
    }
}
.features__modal{
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.678);
    display: none;
    z-index: 10;
    .popup{
      position: relative;
      .close{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        top: 0;
        right: 0;
        span{
          cursor: pointer;
          font-size: 30px;
          color: #fff;
        }
      }
    }
    .close{
        z-index: 5;
        position: absolute;
        top: 30px;
        right: 30px;
        span{
            color: #fff;
            font-size: 30px;
            cursor: pointer;
        }
    }
    .arrows{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        div{
          color: #fff;
          font-size: 30px;
          cursor: pointer;
        }
        > div{
            position: absolute;
        }
        .prev{
            left: 10%;
        }
        .next{
            right: 10%;
        }

    }
}