footer{
    color: $footer-li-color;;
    padding-top: 100px;
    background-color: $main-color;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1px;
    .footer{
        max-width: 1140px;
        margin: 0 auto;
    }
    h4{
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    ul{
        padding: 0;
        li{
            padding-left: 20px;
            position: relative;
            transition: .2s linear all;
            line-height: 30px;
            &::before{
                position: absolute;
                content: '>';
                top: 0;
                left: 0;
            }
            &:hover{
                cursor: pointer;
                padding-left: 25px;
            }
        }
    }
    span{
        display: block;
    }
    .social-hubs{
        a{
            margin-right: 5px;
            color:$footer-li-color;
        }
        
    }
    .row:first-of-type{
        border-bottom: 1px solid $footer-li-color;
        padding-bottom: 30px;
    }
    h3{
        text-align: center;
        padding: 30px 0;
        font-weight: 400;
        font-size: 14px;
        color: #E5E9F7;
        letter-spacing: 0.88px;
    }
    .footer__img{
        margin-bottom: 30px;
    }
}