$main-color: #585CE9;
$li-color: #3B566E;
$main-text-color: #697BA2;
$solutions-span-color: #6F8BA4;
$section-cloud-background: #F7FAFD;
$border-radius-size: 5px;
$buttons-dark-hover: #4146e6;
$footer-li-color: #E5E9F7;
